<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Test Home</title>
</head>
<body>
    <h1>Test Home Page</h1>
    {% if openid is defined %}
        <p>OpenID: {{ openid }}</p>
    {% endif %}
</body>
</html>